body{
    background-color: cadetblue;
    background-image: url("https://www.crushpixel.com/big-static18/preview4/top-view-movies-concept-background-3127201.jpg");
    background-repeat: no-repeat;
    color: cornflowerblue;
}